
:root{
  --main-text-color:#ffff;
  --main-bg-color:#ffff;
  --main-font-size:clamp(3rem, 10vw, 6rem);
  --color-content-primary: #2f313f;
  --color--content--secondary:rgba(18,29,43,.6);
  --color-content-tertiary: rgba(6,26,55,.361);
  --color-content-action-primary: #1d965c;
  --color-content-action-secondary: #32bb78;
  --color-content-danger-primary: #c91d2b;
  --color-content-danger-secondary: #eb4755;
  --color-content-warning-primary: #f58300;
  --color-content-warning-secondary: #ffb200;
  --color-content-positive-primary: #1d965c;
  --color-content-positive-secondary: #32bb78;
  --color-content-promo-primary: #4450d5;
  --color-content-promo-secondary: #5b68f6;
  --color-content-link-primary: #1d965c;
  --color-content-link-secondary: #32bb78;
  --color-content-primary-inverted: #fafafb;
  --color-bg-neutral-primary: #2f313f;
  --color-bg-neutral-secondary: rgba(6,26,55,.039);
  --color-bg-neutral-secondary-hard: rgba(6,26,55,.161);
  --color-bg-action-primary: #32bb78;
  --color-bg-action-secondary: rgba(0,255,130,.122);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: euclidCircularB,ui-sans-serif,system-ui,-apple-system,
  Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,
  Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

li{
  list-style: none;
}

a{
  text-decoration: none;  
}

img{
  width: 100%;
  height: auto;
}
header{
  height: 100vh;
  border: 1px solid inherit;
  /* background-image: url('/images/medium-shot-smiley-people-with-smartphone.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0 5rem;
}

nav{
  position: relative;
  top: 1vh;
  height: 10vh;
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background-color:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: var(--main-text-color);
  height: 100%;
  font-size: 1.8rem;
  font-weight: 900;
  width: 50%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.nav-div-container{
  border: 1px solid transparent;
  height: 100%;
  width: 50%;
  z-index: 5;
  display: flex;
  justify-content:flex-end;
}
.register-support-holder{
  width: 80%;
  border: 1px solid transparent;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signup{
  border: 1px solid #ffff;
  position: relative;
  height: 70%;
  width:20%;
  font-weight: 700;
  cursor: pointer;
  border-radius: 32px;
  margin-left: 2em;
  background-color: #ffff;
  z-index:5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support{
  font-size:1.5rem;
  color: var(--main-text-color);
  cursor: pointer;
  font-weight: 700;
  z-index: 5;
}

.close-signup{
  display:none;
}
.create-account{
  position: absolute;
  top:8vh;
  right: 10;
  width: 25vw;
  border-radius: 25px;
  background-color:var(--main-bg-color);
  height: 80vh;
}
.create-account>ul li{
  margin: 15px;
  padding: 15px;
  max-width: 100%;
  border: 1px solid transparent;
  border-radius:25px;
}
.create-account>ul li:hover{
  border-radius: 25px;
  background-color:var(--color-bg-neutral-secondary);
  opacity: 1;
  transition: background-color,opacity 1s;
}

.reg-icon-container{
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.reg-icon-container::after{
  content:url("/icons/thin-chevron-round-right-icon.svg");
  display: block;
  border: 1px solid transparent;
  height: 25px;
  width: 25px;
  margin-left:10px;
}
/* .reg-icon-container::after:hover{
  content: url("/icons/thin-long-arrow-right-icon.svg");
  display: block;
  border: 1px solid transparent;
  height: 25px;
  width: 25px;
  margin-left:10px;
} */

.acn-reg-icon-box{
  border: 1px solid transparent;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.acn-reg-type{
  width: 100%;
  border: 1px solid transparent;
}
.acn-reg-type>h3{
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 5px;
  color: var( --color--content--secondary);
}
.acn-reg-type>p{
  font-size: 0.9rem;
  color: var(--color-content-tertiary);
  line-height: 1.25rem;
}
 
.menubar{
  border: 1px solid transparent;
  height:100%;
  padding: 0.2em;
  width: 10%;
  /* position:relative; */
  margin-left: 2em;
  cursor: pointer;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menubar span{
  border: 1px solid #ffff;
  width: 50%;
  height: 3px;
  margin: 3px 0;
  background-color: #ffff;
  z-index: 5;
}
/* .menubar span:nth-child(1){
  position: absolute;
  top:5;
  transform:rotate(45deg)
}
.menubar span:nth-child(2){
 display:none;
 }
 .menubar span:nth-child(3){
  position: absolute;
  top: 5;
  transform:rotate(-45deg)
 } */

 .hamburger--box{
  position:absolute;
  top:0;
  left: 0;
  width:100dvb;
  height: 100vh;
  padding: 30px;
  border: 1px solid blue;
  background-color:var(--color-bg-neutral-secondary); 
 }
 .close-hamburger--box{
  display: none;
 }
.hamburger-content{
  border: 1px solid red;
  width: 100%;
  height: 100%;
  margin: 3.5rem;
  padding: 15px;
  background-color: white;
  opacity: 1;
  display: flex;
}



